- name: install mysql server
  ansible.builtin.dnf:
    name: mysql-server
    state: present

- name: setting root & password
  ansible.builtin.command: mysql_secure_installation --set-uroot-pass "{{ MYSQL_PASSWORD }}"

- name: start and enable mysql
  ansible.builtin.service:
    name: mysqld
    state: restarted
    enabled: yes