- name: app setup
  ansible.builtin.import_role:
    name: common
    tasks_from: app_setup.yaml

- name: nodejs_setup
  ansible.builtin.import_role:
    name: common
    tasks_from: nodejs_setup.yaml

- name: systemd_setup
  ansible.builtin.import_role:
    name: common
    tasks_from: systemd_setup.yaml

- name: copy {{ component }} service 
  ansible.builtin.template:
    src: "{{ component }}.service.j2"
    dest: "/etc/systemd/system/{{ component }}.service"

- name: start and enable user
  ansible.builtin.service:
    name: user
    state: restarted
    enabled: yes